<!--BOOKS-SHOP/views/index.ejs-->


<!DOCTYPE html>
<html>
<head>
    <title>Books Shop</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Books Shop</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/buy">Buy</a>
        <a href="/insert">Insert New Product</a>
        <a href="/login">Login</a>
    </nav>
    <div>
        <%= body %>
    </div>
</body>
</html>
