/* public/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a0ffb4, #b9fbc0); /* Dégradé linéaire */
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3ea95b;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
